:root {
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram-start: hsl(37, 97%, 70%);
  --Instagram-end: hsl(329, 70%, 58%);
  --Instagram: linear-gradient(
    to right,
    var(--Instagram-start),
    var(--Instagram-end)
  );
  --YouTube: hsl(348, 97%, 39%);
  --Dark-Toggle-start: hsl(210, 78%, 56%);
  --Dark-Toggle-end: hsl(146, 68%, 55%);
  --Light-Toggle: hsl(230, 22%, 74%);
  --Very-Dark-Blue: hsl(230, 17%, 14%);
  --Very-Dark-Blue: hsl(232, 19%, 15%);
  --Dark-Desaturated-Blue: hsl(228, 28%, 20%);
  --Desaturated-Blue: hsl(228, 34%, 66%);
  --White: hsl(0, 0%, 100%);
  --White: hsl(0, 0%, 100%);
  --Very-PaleBlue: hsl(225, 100%, 98%);
  --Light-Grayish-Blue: hsl(227, 47%, 96%);
  --Dark-Grayish-Blue: hsl(228, 12%, 44%);
  --Very-Dark-Blue: hsl(230, 17%, 14%);
  --background: var(--White);
  --top-background-pattern: var(--Very-PaleBlue);
  --card-background: var(--Light-Grayish-Blue);
  --text: var(--Dark-Grayish-Blue);
  --toggle-btn-bg: var(--Light-Toggle);
  --toggle-ball: var(--White);
  --h1: var(--Very-Dark-Blue);
  --card-value: var(--Very-Dark-Blue);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--Very-Dark-Blue);
    --top-background-pattern: var(--Dark-Desaturated-Blue);
    --card-background: var(--Dark-Desaturated-Blue);
    --text: var(--Desaturated-Blue);
    --toggle-btn-bg: linear-gradient(
      to right,
      var(--Dark-Toggle-start),
      var(--Dark-Toggle-end)
    );
    --toggle-ball: var(--Dark-Desaturated-Blue);
    --h1: var(--White);
    --card-value: var(--White);
    --header-bg: var(--Very-Dark-Blue);
  }
}
body.light {
  --background: var(--White);
  --top-background-pattern: var(--Very-PaleBlue);
  --card-background: var(--Light-Grayish-Blue);
  --text: var(--Dark-Grayish-Blue);
  --toggle-btn-bg: var(--Light-Toggle);
  --toggle-ball: var(--White);
  --h1: var(--Very-Dark-Blue);
  --card-value: var(--Very-Dark-Blue);
}

body.dark {
  --background: var(--Very-Dark-Blue);
  --top-background-pattern: var(--Dark-Desaturated-Blue);
  --card-background: var(--Dark-Desaturated-Blue);
  --text: var(--Desaturated-Blue);
  --toggle-btn-bg: linear-gradient(
    to right,
    var(--Dark-Toggle-start),
    var(--Dark-Toggle-end)
  );
  --toggle-ball: var(--Dark-Desaturated-Blue);
  --h1: var(--White);
  --card-value: var(--White);
}
