@import '../util';

body {
  font-family: var(--font-family);
}
h1 {
  color: var(--h1);
}
.header__subtitle {
  color: var(--Desaturated-Blue);
  font-weight: 700;
}
.header__toggle {
  font-weight: 700;
  color: var(--Desaturated-Blue);
}
